@model  EbayApplication.Web.Models.ProductModels.ProductDetailedViewModel
@{
    ViewBag.Title = "Details";
}


@Html.Partial("_Details", Model.Product)

@if(Model.Auction != null && User.Identity.IsAuthenticated)
{
    @Html.Partial("_BaseAuction", Model.Auction)
}
else
{
     <p>No auctions for this product</p>
}
<div id="details-tabs">
    @(Html.Kendo().TabStrip()
          .Name("tabstrip")
          .Items(tabstrip =>
          {
              tabstrip.Add().Text("Description")
                  .Selected(true)
                  .Content(
                  @<text>
                    <div>
                        <div> @Model.Product.Description </div>
                    </div>
                    
                </text>);

              tabstrip.Add().Text("Shipping and payments")
                  .Content(
                  @<text>
                    <div>
                        <div> Will be delivered for @Model.Product.DeliveryTime days.</div>
                    </div>
                </text>);           
          })
    )
</div>

<style scoped>
    #details-tabs {
        word-wrap: break-word;
        width: 360px;
        height: 337px;
        margin: 30px auto;
        padding: 80px 15px 0 15px;
    }

        #details-tabs h2 {
            font-weight: lighter;
            font-size: 5em;
            padding: 0;
            margin: 0;
        }

            #details-tabs h2 span {
                background: none;
                padding-left: 5px;
                font-size: .5em;
                vertical-align: top;
            }

        #details-tabs p {
            margin: 0;
            padding: 0;
        }
</style>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Product.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
